# Ignore sensitive plain-text scripts (NEVER upload these)
Install-BV-Remote.ps1
Uninstall-BV-Remote.ps1
Encrypt-Script.ps1

# Ignore local reference files
_Github URL Reference.txt

# Ignore local VS Code settings
.vscode/

# Ignore temporary files
*.tmp